<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="/node_modules/limbo-css/dist/css/limbo-min.css"
    />
    <style>
      body {
        font-family: 'helvetica';
        font-size: 12px;
        color: #37373a;
      }
      svg.gel-symbol {
        display: inline-block;
        width: 9px;
      }
      svg.gel-symbol path {
        fill: #37373a;
        fill-rule: evenodd;
      }
      .template {
        width: 100%;
        padding: 46px 42px;
      }
      .template .implements {
        margin-bottom: 30px;
      }
      .template .implements .left-block,
      .template .implements .right-block {
        width: 50%;
      }
      .template .implements .left-block {
        float: left;
        padding-right: 30px;
      }
      .template .implements .right-block {
        float: right;
        padding-left: 30px;
      }
      .template .implements .right-block .shift-right {
        text-align: right;
        float: right;
      }
      .head-chapter p {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 9px;
      }
      .head-chapter p span {
        display: inline;
        font-size: 12px;
      }
      .head-chapter span {
        display: block;
        padding-top: 6px;
      }
      .head-chapter span em {
        color: #90959c;
      }
      .head-chapter img {
        width: inherit;
        height: 76px;
        object-fit: cover;
      }
      .sender-receiver span {
        font-weight: bold;
        display: block;
        padding-bottom: 2px;
      }
      .sender-receiver p {
        padding-top: 8px;
      }
      .sender-receiver p b {
        font-size: 14px;
        font-weight: bold;
      }
      .sender-receiver p i {
        margin-bottom: 5px;
      }
      .sender-receiver p i,
      .sender-receiver p em {
        display: block;
      }
      .root-chapter p.caption {
        font-weight: bold;
        padding-bottom: 12px;
      }
      .root-chapter p.text {
        line-height: 17px;
        color: #90959c;
        font-size: 11px;
      }
      .root-chapter .payroll p {
        margin-bottom: 9px;
      }
      .root-chapter .payroll p span {
        display: block;
      }
      .root-chapter .payroll p span:first-child {
        float: left;
        color: #a2a5ab;
      }
      .root-chapter .payroll p span:last-child {
        float: right;
      }
      .root-chapter .payroll p.amount {
        border-top: 1px solid #e6e8ea;
        margin-top: 14px;
        padding: 6px 0 3px 0;
        font-size: 14px;
        font-weight: bold;
      }
      .root-chapter .payroll p.amount span:first-child {
        color: #37373a;
      }
      .root-chapter .payroll p.amount span:last-child {
        color: #297bf6;
      }
      .root-chapter .payroll p.amount span:last-child svg.gel-symbol path {
        fill: #297bf6;
      }
      .tb {
        display: table;
        width: 100%;
      }
      .tb .tb-tr {
        display: table-row;
      }
      .tb .tb-tr .tb-cl {
        display: table-cell;
        vertical-align: middle;
      }
      .tb .tb-tr .tb-cl .mask .inl-wrap {
        vertical-align: middle;
        display: inline-block;
      }
      .tb .tb-tr:first-child .tb-cl .catch p {
        font-weight: bold;
      }
      .tb .tb-tr .tb-cl-vat {
        display: none;
      }
      .tb.tb-vat .tb-tr .tb-cl-vat {
        display: block;
      }
      .tb.tb-st-2 .tb-tr .tb-cl {
        position: relative;
        border-bottom: 1px solid #e3e5e8;
        border-right: 1px solid #dee0e4;
      }
      .tb.tb-st-2 .tb-tr .tb-cl:first-child {
        border-left: 1px solid #dee0e4;
      }
      .tb.tb-st-2 .tb-tr:first-child .tb-cl {
        border: none;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .catch {
        padding: 15px 18px 16px 18px;
        background-color: #f2f3f4;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .catch p {
        text-transform: capitalize;
        color: #37373a;
      }
      .tb.tb-st-2.tb-only-read .tb-tr:last-child .tb-cl .mask {
        background-color: transparent;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .mask .m-outline {
        padding: 13px 25px 13px 28px;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .mask .inl-wrap p {
        width: 82%;
        float: left;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .mask .inl-wrap span {
        display: block;
        float: left;
        color: #a2a5ab;
        /* padding: 13px 0 13px 10px; */
        padding: 15px 0 13px 10px;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .mask .inl-wrap span svg.gel-symbol path {
        fill: #a2a5ab;
      }
      .tb.tb-st-2 .tb-tr .tb-cl .mask .inl-wrap input {
        width: 77%;
        float: left;
      }
      .tb.tb-4 .tb-tr .tb-cl:nth-child(1) {
        width: 200px;
      }
      .tb.tb-5 .tb-tr .tb-cl:nth-child(1) {
        width: 160px;
      }
      input:not([type='submit']) {
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding: 0 15px;
        color: #37373a;
      }
      .footer-text {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    </style>
    <title>Invoice</title>
  </head>
  <body>
    <div class="template">
      <div class="implements head-chapter clear-fix">
        <div class="left-block">
          <p>
            <%=texts.invoice%>
            <span>
              <em>#: </em>
              <%=invoice.number%>
            </span>
          </p>
          <span>
            <em><%=texts.issueDate%></em>
            <%=moment(invoice.issueDate).format('MM/DD/YYYY')%>
          </span>
          <span>
            <em><%=texts.dueDate%></em>
            <%=moment(invoice.dueDate).format('MM/DD/YYYY')%>
          </span>
        </div>
        <div class="right-block clear-fix">
          <div class="shift-right">
            <img src="<%=invoice.from.logo.fileUrl%>" alt />
          </div>
        </div>
      </div>
      <div class="implements sender-receiver clear-fix">
        <div class="left-block">
          <span><%=texts.sender%></span>
          <p><b><%=invoice.from.name%></b></p>
          <p><%=invoice.from.address%></p>
          <p><%=invoice.from.email%></p>
          <p><%=invoice.from.phone%></p>
          <% if (invoice.from.identityNumber) { %>
          <p><%=texts.ID%>: <%=invoice.from.identityNumber%></p>
          <% } %> <% if (invoice.from.account.accountable) { %>
          <p>
            <i><%=texts.bankCode%>:</i>
            <em><%=invoice.from.account.code%></em>
          </p>
          <% } %> <% if (invoice.from.account.accountable) { %>
          <p>
            <i><%=texts.accountNumber%>:</i>
            <em><%=invoice.from.account.number%></em>
          </p>
          <% } %>
        </div>
        <div class="right-block clear-fix">
          <div class="shift-right">
            <span><%=texts.receiver%></span>
            <p><b><%=invoice.to.name%></b></p>
            <p><%=invoice.to.address%></p>
            <p><%=invoice.to.email%></p>
            <p><%=invoice.to.phone%></p>
            <p><%=texts.ID%>: <%=invoice.to.identityNumber%></p>
          </div>
        </div>
      </div>
      <div class="implements">
        <div
          class="tb tb-st-2 tb-only-read <%- (invoice.vatable)? 'tb-vat tb-5': 'tb-4'%>"
        >
          <div class="tb-tr">
            <div class="tb-cl">
              <div class="catch">
                <p><%=texts.title%></p>
              </div>
            </div>
            <div class="tb-cl">
              <div class="catch">
                <p><%=texts.price%></p>
              </div>
            </div>
            <div class="tb-cl tb-cl-vat">
              <div class="catch">
                <p><%=texts.vat%></p>
              </div>
            </div>
            <div class="tb-cl">
              <div class="catch">
                <p><%=texts.qty%></p>
              </div>
            </div>
            <div class="tb-cl">
              <div class="catch">
                <p><%=texts.total%></p>
              </div>
            </div>
          </div>
          <% for(let item of invoice.products) { %>
          <div class="tb-tr">
            <div class="tb-cl">
              <div class="mask">
                <div class="m-outline">
                  <p class="ellipsis"><%=item.name%></p>
                </div>
              </div>
            </div>
            <div class="tb-cl">
              <div class="mask">
                <div class="inl-wrap">
                  <span>
                    <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                      <path
                        d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                      />
                    </svg>
                  </span>
                  <input
                    type="number"
                    placeholder="0"
                    value="<%=item.price.toFixed(2)%>"
                    readOnly
                  />
                </div>
              </div>
            </div>
            <div class="tb-cl tb-cl-vat">
              <div class="mask">
                <div class="inl-wrap">
                  <span>%</span>
                  <input
                    type="number"
                    placeholder="0"
                    value="<%=item.vatPercent%>"
                    readOnly
                  />
                </div>
              </div>
            </div>
            <div class="tb-cl">
              <div class="mask">
                <input
                  type="number"
                  placeholder="0"
                  value="<%=item.qty%>"
                  readOnly
                />
              </div>
            </div>
            <div class="tb-cl">
              <div class="mask">
                <div class="inl-wrap">
                  <span>
                    <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                      <path
                        d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                      />
                    </svg>
                  </span>
                  <input
                    type="number"
                    placeholder="0"
                    value="<%=
                    invoiceUtils.getTotalPriceFromPrice(
                      item.price,
                      item.qty,
                      item.vatPercent,
                      invoice.vatable
                    )
                    %>"
                    readOnly
                  />
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="implements root-chapter clear-fix">
        <div class="left-block">
          <p class="caption"><%=texts.letter%></p>
          <p class="text"><%=invoice.note%></p>
        </div>
        <div class="right-block">
          <div class="payroll">
            <p class="clear-fix">
              <span><%=texts.subTotal%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.subTotalPayable%>
              </span>
            </p>
            <% if(invoice.vatable) {%>
            <p class="clear-fix">
              <span><%=texts.vat%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.vatPayable%>
              </span>
            </p>
            <%}%>
            <p class="clear-fix">
              <span><%=texts.discount%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.discountPayable%>
              </span>
            </p>
            <p class="clear-fix amount">
              <span><%=texts.total%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.totalPayable%>
              </span>
            </p>
            <p class="clear-fix">
              <span><%=texts.paid%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.paid%>
              </span>
            </p>
            <p class="clear-fix">
              <span><%=texts.balance%></span>
              <span>
                <svg viewBox="0 0 8.58 9.75" class="gel-symbol">
                  <path
                    d="M4.29,9H8.15v.79H.25V9.07H2.33A3.9,3.9,0,0,1,0,5.46a4.29,4.29,0,0,1,3-4.1V0h.84V1.18h.84V0h.83V1.36a4.28,4.28,0,0,1,3,4.1H7.75A3.5,3.5,0,0,0,5.54,2.19V5.46H4.71V2L4.29,2,3.87,2V5.46H3V2.19A3.51,3.51,0,0,0,4.29,9"
                  />
                </svg>
                <%=invoice.account.debt%>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div><p class="footer-text">&copy; Created by localhost:8000</p></div>
    </footer>
  </body>
</html>
